#### Importing Libraries

In [30]:
import pandas as pd 
import numpy as np
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import seaborn as sns
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

### Data Collection

In [31]:
df = pd.read_csv(r'D:\Deep Learning\Artificial_Neuron_Network (ANN)\Binary-class\Chrun-Pred\Churn_Modelling.csv')

In [32]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [33]:
df.shape

(10000, 14)

In [34]:
df.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [36]:
df.duplicated().sum()

np.int64(0)

In [37]:
df['Exited'].value_counts()

Exited
0    7963
1    2037
Name: count, dtype: int64

In [38]:
df['Geography'].value_counts()

Geography
France     5014
Germany    2509
Spain      2477
Name: count, dtype: int64

In [39]:
df['Gender'].value_counts()

Gender
Male      5457
Female    4543
Name: count, dtype: int64

In [40]:
df.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1, inplace=True)

In [41]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [42]:
df['Geography'] = df['Geography'].map({'France':0, 'Spain':1, 'Germany':2})
df['Gender'] = df['Gender'].map({'Male':0, 'Female':1})

In [43]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,0,1,42,2,0.00,1,1,1,101348.88,1
1,608,1,1,41,1,83807.86,1,0,1,112542.58,0
2,502,0,1,42,8,159660.80,3,1,0,113931.57,1
3,699,0,1,39,1,0.00,2,0,0,93826.63,0
4,850,1,1,43,2,125510.82,1,1,1,79084.10,0

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CreditScore      10000 non-null  int64
 1   Geography        10000 non-null  int64
 2   Gender           10000 non-null  int64
 3   Age              10000 non-null  int64
 4   Tenure           10000 non-null  int64
 5   Balance          10000 non-null  float64
 6   NumOfProducts    10000 non-null  int64
 7   HasCrCard        10000 non-null  int64
 8   IsActiveMember   10000 non-null  int64
 9   EstimatedSalary  10000 non-null  float64
 10  Exited           10000 non-null  int64
dtypes: float64(2), int64(9)
memory usage: 859.5 KB

In [45]:
x = df.drop('Exited', axis=1)
y = df['Exited']

In [46]:
x

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,0,1,42,2,0.00,1,1,1,101348.88
1,608,1,1,41,1,83807.86,1,0,1,112542.58
2,502,0,1,42,8,159660.80,3,1,0,113931.57
3,699,0,1,39,1,0.00,2,0,0,93826.63
4,850,1,1,43,2,125510.82,1,1,1,79084.10
...,...,...,...,...,...,...,...,...,...,...
9995,771,0,0,39,5,0.00,2,1,0,96270.64
9996,516,0,0,35,10,57369.61,1,1,1,101699.77
9997,709,0,1,36,7,0.00,1,0,1,42085.58
9998,772,2,0,42,3,75075.31,2,1,0,92888.52
9999,792,0,1,28,4,130142.79,1,1,0,38190.78

In [47]:
y

0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

In [48]:
X_train, X_test, y_train, y_test = train_test_split(x,y, test_size=0.2, random_state=42)

In [49]:
X_train.shape

(8000, 10)

In [50]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [51]:
X_train_scaled

array([[ 0.35649971, -0.90598864, -0.91324755, ...,  0.64920267,
         0.97481699,  1.36766974],
       [-0.20389777,  1.50315516, -0.91324755, ...,  0.64920267,
         0.97481699,  1.6612541 ],
       [-0.96147213,  0.29858326, -0.91324755, ...,  0.64920267,
        -1.02583358, -0.25280688],
       ...,
       [ 0.86500853, -0.90598864,  1.09499335, ..., -1.54035103,
        -1.02583358, -0.1427649 ],
       [ 0.15932282, -0.90598864, -0.91324755, ...,  0.64920267,
        -1.02583358, -0.05082558],
       [ 0.47065475,  1.50315516, -0.91324755, ...,  0.64920267,
         0.97481699, -0.81456811]], shape=(8000, 10))

In [52]:
X_test_scaled

array([[-0.57749609,  1.50315516, -0.91324755, ..., -1.54035103,
        -1.02583358, -1.01960511],
       [-0.29729735, -0.90598864, -0.91324755, ...,  0.64920267,
         0.97481699,  0.79888291],
       [-0.52560743,  0.29858326,  1.09499335, ...,  0.64920267,
        -1.02583358, -0.72797953],
       ...,
       [ 0.81311987, -0.90598864,  1.09499335, ...,  0.64920267,
        -1.02583358, -1.16591585],
       [ 0.41876609, -0.90598864, -0.91324755, ...,  0.64920267,
        -1.02583358, -0.41163463],
       [-0.24540869,  1.50315516, -0.91324755, ...,  0.64920267,
         0.97481699,  0.12593183]], shape=(2000, 10))

In [56]:
model = Sequential()

model.add(Dense(3,activation='sigmoid',input_dim=10))
model.add(Dense(1, activation='sigmoid'))

c:\Users\hb292\AppData\Local\Programs\Python\Python313\Lib\site-packages\keras\src\layers\core\dense.py:106: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [57]:
model.summary()

Model: "sequential_1"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 3)              │            33 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 1)              │             4 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 37 (148.00 B)

 Trainable params: 37 (148.00 B)

 Non-trainable params: 0 (0.00 B)

In [58]:
model.compile(loss='binary_crossentropy', optimizer='adam')

In [60]:
model.fit(X_train_scaled,y_train,epochs=10)

Epoch 1/10
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 792us/step - loss: 0.5252
Epoch 2/10
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 760us/step - loss: 0.4908
Epoch 3/10
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 824us/step - loss: 0.4707
Epoch 4/10
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 777us/step - loss: 0.4578
Epoch 5/10
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 766us/step - loss: 0.4492
Epoch 6/10
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 790us/step - loss: 0.4433
Epoch 7/10
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 824us/step - loss: 0.4391
Epoch 8/10
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 819us/step - loss: 0.4360
Epoch 9/10
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 800us/step - loss: 0.4337
Epoch 10/10
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 780us/step - loss: 0.4319

`1st layer`

- 30 weights
- 3 bias

In [61]:
model.layers[0].get_weights()

[array([[ 0.38299188, -0.1691345 ,  0.30975533],
        [-0.91671956, -0.45252034, -0.22387028],
        [-0.28237844, -0.24765569, -0.665842  ],
        [-1.3787811 , -0.74347   , -1.9110432 ],
        [ 0.55894506, -0.05078185, -0.0836156 ],
        [-0.67210364, -0.125875  , -0.32657546],
        [-0.25139195,  0.08025591,  0.3010166 ],
        [ 0.21886851,  0.13245013, -0.2682653 ],
        [ 0.25637212,  1.0080094 ,  0.29789084],
        [-0.53385913,  0.24119337, -0.08415724]], dtype=float32),
 array([0.08831574, 0.12642515, 0.14509824], dtype=float32)]

`layer2`

- 3 weights
- 1 bias

In [62]:
model.layers[1].get_weights()

[array([[-0.6894471],
        [-1.3853943],
        [-1.2429402]], dtype=float32),
 array([0.13319768], dtype=float32)]